/* Styles that aren't needed for the first render */

a.btn:hover,
a.btn:focus-visible {
	border-color: var(--focus-ring);
	box-shadow: 0 0 0 3px var(--focus-shadow);
	outline: none;
}

a.link:hover {
	text-decoration: underline;
}

select:focus {
	outline: 1px solid var(--focus-ring);
	outline-offset: -1px;
	box-shadow: 0 0 0 2px var(--focus-shadow);
}

#run {
	background: #0e7c13;
	color: #fff;
	padding: 0.2em 0.5em;
	border-radius: 0.4em;
	display: flex;
	align-items: center;
}

#run::after {
	content: "";
	background-color: currentColor;
	clip-path: polygon(9.78% 33.69%,0 40.51%,50% 66.3%,100% 40.51%,90.22% 33.69%,50% 54.43%);
	display: inline-block;
	height: 1.2em;
	width: 0.72em;
	transform: rotate(-90deg);
	margin-left: 0.25em;
}

.error::after {
	font-weight: 700;
	content: '!';
	position: absolute;
	font-size: 0.8em;
	transform: translateY(0.1em);
	color: #181818;
}

.error .message {
	top: 1.8em;
	padding: 0.2em 0.4em;
	border-radius: 0.3em;
	background-color: #eee;
	color: #000;
	position: absolute;
	display: none;
	font-size: 1.2rem;
	z-index: 2;
	width: 15em;
	right: -6em;
	white-space: normal;
	text-wrap: balance;
}

.error svg {
	fill: #e64d19;
	stroke: #e64d19;
	stroke-width: 3;
	stroke-linejoin: round;
}

:hover > .message,
:focus-visible > .message {
	display: block;
}

.tooltip {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--widget__bg);
  padding: 0.4em;
  border: 1px solid var(--widget__border);
  border-radius: 0.4em;
  position: sticky;
  left: 0.5em;
  right: 0;
  white-space: normal;
  word-break: normal;
}
