:root {
	font-size: 62.5%;
	--bg: #fff;
	--color: #000;
	--bg-btn: #f6f8fa;
	--border: #d0d7de;
	--focus-shadow: #004c994d;
	--focus-ring: #207fdf;
}

body {
	background: var(--bg);
	color: var(--color);
	font-family: Roboto,-apple-system,Arial,Helvetica,sans-serif;
	font-size: 1.6rem;
	margin: 0;
	line-height: 1.5;
	font-weight: 300;
}

button {
	all: unset;
	cursor: pointer;
	display: inline-block;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a.link {
	color: #0969da;
}

a {
	color: inherit;
	text-decoration: none;
}

.btn {
	background-color: var(--bg-btn);
	border-radius: 0.5em;
	padding: 0.3em 0.8em;
	cursor: pointer;
	line-height: 1.15;
	border: 2px solid var(--border);
	font-size: 2rem;
}

section,
main {
	margin: auto;
	display: grid;
	gap: 1.4rem;
}

h1 {
	font-size: 4rem;
}

h1, h2 {
	font-weight: 100;
	font-family: Helvetica, sans-serif;
	line-height: 1.1;
}

main {
	max-width: 77.8rem;
	padding: 6.4rem 1.4rem 1.4rem;
}

.description {
	font-size: 2rem;
	margin: 2rem 0;
}

section {
	gap: 2rem;
	text-align: center;
	justify-items: center;
	width: 100%;
}

main h2 {
	padding: 2.6rem 0 0.5em;
	font-size: 2.8rem;
	border-bottom: 1px solid var(--border);
}

.header [aria-hidden=true] {
	visibility: hidden;
}

main > div,
.editor-wrapper {
	border-radius: 0.3em;
}

.editor-wrapper {
	height: min(43.82rem, 100vh - 16rem);
	border: 1px solid var(--border);
	margin-top: 3rem;
	text-align: start;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr;
	font-weight: 400;
	width: 100%;
	resize: vertical;
}

main > .prism-code-editor {
	resize: vertical;
}

.prism-code-editor {
	font-size: 1.4rem;
	line-height: 2rem;
}

.header .tab {
	padding: 0.6em 0.2em;
	border-bottom: 2px solid #0000;
}

.header .tab.active {
	border-bottom-color: hsl(210, 80%, 50%);
}

.header {
	display: flex;
	align-items: center;
	padding: 0 1.4rem;
	gap: 0.5em;
	background-color: #f6f8fa;
}

.error {
	margin-left: auto;
	position: relative;
	display: grid;
	place-items: center;
	width: 1.5em;
}

.select {
	display: inline-grid;
	grid: "a";
	align-items: center;
	border-radius: 0.25em;
	position: relative;
}

.select > * {
	-webkit-appearance: none;
	appearance: none;
	padding: 0.25em 1.4em 0.25em 0.5em;
	border: 1px solid var(--border);
	border-radius: 0.25em;
	margin: 0;
	width: 100%;
	font: inherit;
	color: inherit;
	cursor: default;
	outline: 0;
	grid-area: a;
	background-color: var(--bg-btn);
	line-height: 1.2;
}

.select::before {
	content: "";
	width: 0.7em;
	height: 0.4em;
	margin-right: 0.5em;
	background-color: var(--border);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	grid-area: a;
	justify-self: end;
	pointer-events: none;
}

option {
	font-weight: inherit;
}

[type=checkbox] {
	margin: 0 0.5em 0 0;
}

.rows {
	display: grid;
	gap: 2rem;
}

.rows > * {
	display: grid;
	grid: 1fr / 1fr 1fr;
	gap: 1rem;
	align-items: center;
	font-size: 1.8rem;
}

.grid {
	padding-left: 3rem;
	font-size: 1.8rem;
}

#folding ~ div {
	--number-spacing: 1.5em;
	height: min(59.4rem, 100vh - 16rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #0d1117;
    --color: #ecedef;
    --bg-btn: #14161a;
    --border: #30363d;
    --focus-shadow: #57abff33;
    --focus-ring: #5299e0;
		color-scheme: dark;
	}
	.header {
		background: #161b22;
	}
	.header .tab.active {
		border-bottom-color: hsl(210, 60%, 60%);
	}
	a.link {
		color: #2f81f7;
	}
}
