.editor-copy {
	all: unset;
	cursor: pointer;
	position: sticky;
	right: 0.5em;
	top: 0.5em;
	left: 0.5em;
	box-shadow: inset 0 0 0 1px var(--widget__border);
	margin: -9in 0 0 0;
	padding: 0.6em;
	background: var(--widget__bg);
	z-index: 3;
	color: var(--widget__color-options);
	pointer-events: auto;
	display: grid !important;
	align-items: center;
	font: 400 1em/1.5 Arial, Helvetica, sans-serif;
}

.editor-copy,
.editor-copy::after,
.editor-copy::before {
	opacity: 0;
	border-radius: 0.4em;
	transition: opacity 0.1s ease-out;
}

.editor-copy::after {
	content: attr(aria-label);
	position: absolute;
	right: calc(100% + 0.5em);
	background: #000000b3;
	color: #fff;
	text-align: center;
	width: 8ch;
	font-size: 80%;
	padding: 0.3em 0;
	pointer-events: none;
}

.editor-copy::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #9992;
	box-shadow: inset 0 0 0 1px #999;
}

.prism-editor:hover .editor-copy,
.editor-copy:hover::before,
.editor-copy:hover::after {
	opacity: 1;
}

.editor-copy:focus-visible::before,
.editor-copy:focus-visible,
.editor-copy:focus-visible::after {
	opacity: 1;
}
