---
import "prism-code-editor/prism/languages/javascript"
import "prism-code-editor/prism/languages/css-extras"
import "prism-code-editor/prism/languages/markup"
import "prism-code-editor/prism/languages/regex"
import "prism-code-editor/prism/languages/jsdoc"
import "prism-code-editor/layout.css"
import "prism-code-editor/code-block.css"
import "prism-code-editor/copy-button.css"
import "../css/editor-theme.css"
import Caption from "./editor/Caption.astro"
import { rainbowBrackets, renderCodeBlock } from "prism-code-editor/ssr"
import CodeBlockMount from "./CodeBlockMount.astro"
type Props = {
	lang: string
	code: string
	file?: string
	start?: number
}

const { file, lang, code, start } = Astro.props

const html = renderCodeBlock({
	value: code,
	language: lang,
	guideIndents: true,
	lineNumbers: true,
	wordWrap: true,
	lineNumberStart: start,
	tokenizeCallback: rainbowBrackets(),
})
---

<div class="not-content code-block">
	{file && <Caption>{file}</Caption>}
	<Fragment set:html={html} />
</div>

<CodeBlockMount />
