---
import "prism-code-editor/layout.css"
import "prism-code-editor/scrollbar.css"
import Editor from "../components/editor/index.astro"
import Button from "../components/Button.astro"
---

<form>
	<Editor language="javascript" value={`const initial = "foo"
const form = document.getElementById("form")
const editor = createEditor(
	"#editor",
	{
		language: "javascript",
		value: initial
	}
)

editor.textarea.name = "editor"
editor.textarea.defaultValue = initial

form.addEventListener("reset", () => {
	editor.setOptions({ value: inital })
})`} />
	<Button type="reset">Reset editor</Button>
</form>

<script>
	import { editors } from "./editor/mount"

	const form = document.forms[0]
	const editor = editors[0]
	const inital = editor.textarea.defaultValue = editor.options.value

	form.onreset = () => {
		editor.setOptions({ value: inital })
	}
</script>
