/** Based on VS Code Dark+ */

.prism-editor {
	background: #1e1e1e;
	caret-color: #aeafad;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	--widget__border: #444;
	--widget__bg: #1e1e1e;
	--widget__color: #ccc;
	--widget__color-active: #fff;
	--widget__color-options: #aaa;
	--widget__bg-input: #262626;
	--widget__bg-hover: #2e2e2e;
	--widget__bg-active: #336699;
	--widget__focus-ring: #5299e0;
	--widget__bg-find: #eb5e0054;
	--widget__bg-error: #4d1919;
	--widget__error-ring: #cc0000;
	--editor__border-highlight: 2px solid #282828;
	--editor__bg-selection-match: #add6ff26;
	--editor__line-number: #888;
	--editor__bg-scrollbar: 0, 0%, 50%;
	--bg-guide-indent: #404040;
	--bg-guide-indent-active: #707070;
	color-scheme: dark;
}

.match-highlight {
	--editor__bg-highlight: #282828;
}

/* Selection */
.prism-editor textarea::selection {
	background: #264f78;
	color: #0000;
}

.search-matches .match {
	--widget__bg-find: #675451;
}

.active-line {
	--editor__line-number: #ccc;
}

/* Tokens */
.namespace {
	opacity: .7;
}

.token.doctype .token.name {
	color: #9cdcfe;
}

.token.comment,
.token.prolog,
.token.blockquote.punctuation {
	color: #6a9955;
}

.token.punctuation,
.token.operator,
.token.combinator,
.token.plain-text {
	color: #d4d4d4;
}

.token.number,
.token.symbol,
.token.inserted,
.token.unit {
	color: #b5cea8;
}

.token.string,
.token.string-property.property,
.token.char,
.token.deleted {
	color: #ce9178;
}

.url .token.string.url {
	text-decoration: underline;
}

.token.doctype .token.doctype-tag,
.token.operator.arrow,
.token.keyword,
.token.important,
.token.token.interpolation-punctuation,
.token.boolean,
.token.tag,
.token.entity,
.token.regex-flags {
	color: #569cd6;
}

.token.atrule .token.rule {
	color: #c586c0;
}

.token.function,
.token.function .maybe-class-name {
	color: #dcdcaa;
}

.token.italic {
	font-style: italic;
}

.token.strike {
	text-decoration: line-through;
}

.token.class-name,
[class*="language-t"] .token.builtin,
.token.maybe-class-name {
	color: #4ec9b0;
}

.token.atrule,
.token.atrule .url,
.token.property,
.token.variable,
.token.parameter,
.token.interpolation,
.token.attr-name {
	color: #9cdcfe;
}

.token.selector,
.token.escape {
	color: #d7ba7d;
}

.tag > .token.punctuation,
.doctype .token.punctuation,
.token.cdata {
	color: #808080;
}

.token.attr-value,
.token.attr-value .token.punctuation {
	color: #ce9178;
}

.token.attr-value .token.punctuation.attr-equals {
	color: #d4d4d4;
}

.token.namespace {
	color: #4ec9b0;
}

.token.color {
	color: #ce9178;
}

/* Language overrides */

[class*="language-"] {
	color: #9cdcfe;
}

.token.regex,
.language-regex,
.token.char-set.class-name,
.token.char-class .operator {
	color: #d16969;
}

.language-markup,
.language-markdown,
.language-md,
.language-html,
.language-xml,
.language-svg,
.language-text,
.language-css,
.language-sass,
.language-scss {
	color: #d4d4d4;
}

.token.important.title .punctuation,
.token.list.punctuation,
.language-markdown .token.bold * {
	color: #569cd6;
}

.language-markdown .token.code > .punctuation,
.language-markdown .token.code.keyword {
	color: #d4d4d4;
}

.language-markdown .token.url .content,
.language-markdown .token.code-snippet.keyword,
.token.url-reference .variable {
	color: #ce9178;
}

.token.group.punctuation,
.token.quantifier.number,
.token.char-class .punctuation {
	color: #d7ba7d;
}

/* Key words */

.token.keyword.module,
.token.keyword.control-flow,
.token.keyword-if,
.token.keyword-else,
.token.keyword-return,
.token.keyword-switch,
.token.keyword-case,
.token.keyword-default,
.token.keyword-import,
.token.keyword-from,
.token.keyword-export,
.token.keyword-as,
.token.keyword-for,
.token.keyword-while,
.token.keyword-break,
.token.keyword-continue,
.token.keyword-try,
.token.keyword-catch,
.token.keyword-finally,
.token.keyword-throw,
.token.keyword-yield,
.token.keyword-await {
	color: #c586c0;
}

/* Brackets */

.token.bracket-level-0,
.token.bracket-level-3,
.token.bracket-level-6,
.token.bracket-level-9 {
	color: #ffd700;
}

.token.bracket-level-1,
.token.bracket-level-4,
.token.bracket-level-7,
.token.bracket-level-10 {
	color: #da70d6;
}

.token.bracket-level-2,
.token.bracket-level-5,
.token.bracket-level-8,
.token.bracket-level-11 {
	color: #179fff;
}

.token.bracket-error {
	color: #ff1212cc;
}

.active-bracket {
	box-shadow: inset 0 0 0 1px #888, inset 0 0 0 9in #0064001a;
}
