div.rtl-editor {
	direction: rtl;
	scroll-padding: 0 var(--padding-left) 0 0;
}

div.rtl-editor::before,
.rtl-editor .code-line::before {
	left: auto;
	right: 0;
	background: none;
}

.rtl-editor textarea,
.rtl-editor .selection-matches,
.rtl-editor .search-matches {
	padding: 0 var(--padding-left) 0 var(--padding-inline, 0.75em) !important;
}

.rtl-editor .guide-indents {
	left: auto !important;
	right: var(--padding-left);
	transform: scaleX(-1);
}

.rtl-editor .editor-copy::after {
	left: calc(100% + 0.5em);
	right: auto;
}

.rtl-editor.show-line-numbers .code-line::before {
	margin: 0 calc(-1 * var(--padding-left)) 0 0;
	padding: 0 0 0 var(--number-spacing, 0.75em);
	background: var(--editor__bg);
}

.rtl-editor .code-line {
	padding: 0 0 0 var(--padding-inline, 0.75em);
  margin: 0 var(--padding-left) 0 0;
}

.rtl-editor.no-word-wrap .fold-line-btn {
	right: calc(2px + var(--padding-left) - var(--number-spacing, 0.75em));
}

.rtl-editor .fold-line-btn {
	margin: 0 calc(2px - var(--number-spacing, 0.75em)) 0 0;
}

.rtl-editor .closed-fold > ::after {
	transform: translateY(-50%) rotate(90deg);
}

div.rtl-editor .active-bracket {
	display: inline;
}
