---
import "prism-code-editor/prism/languages/tsx"
import "prism-code-editor/prism/languages/bash"
import "prism-code-editor/prism/languages/jsdoc"
import "prism-code-editor/prism/languages/markup"
import "prism-code-editor/prism/languages/css-extras"
import Caption from "./Caption.astro"
import { rainbowBrackets, renderEditor } from "prism-code-editor/ssr"
import type { RenderOptions } from "prism-code-editor/ssr"

type Props = RenderOptions & {
	file?: string
}

const { file, ...options } = Astro.props

options.tokenizeCallback = rainbowBrackets()

const html = renderEditor(options)
---

<div class="not-content code-block">
	{file && <Caption>{file}</Caption> }
	<Fragment set:html={html} />
</div>
